# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VI swap files
*.swp

# Don't follow the main executable
src/egel
# Or a possible generated archive
src/libegel.a
# Don't follow dynamic libraries
*.ego
# Don't follow generated test cases
tests/large.eg

# Don't follow cmake build/debug
_build/*
build/*
_debug/*
debug/*
python/_build/*
python/build/*
python/_debug/*
python/debug/*

# ignore macos fs
.DS_Store

# ignore vscode
.vscode/*
python/.vscode/*
