# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers or modules
*.gch
*.pch
*.ifc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VI swap files
*.swp

# Don't follow the main executable
src/egel
# Or a possible generated archive
src/libegel.a
# Don't follow dynamic libraries
*.ego
# Don't follow generated test cases
tests/large.eg

# Don't follow cmake build/debug
_build/*
build/*
_debug/*
debug/*
optional/*/build/*
optional/*/_build/*
optional/*/debug/*
optional/*/_debug/*

# ignore macos fs
.DS_Store

# ignore vscode
#.vscode/*
optional/*/.vscode/*

# ignore pycache
python/examples/__pycache__/*

# c++20 provisional stuff
src/gcm.cache/*
