# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers or modules
*.gch
*.pch
*.ifc
*.pcm.d
*.pcm.ii

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Logs 
*.log
*.trs

# Executables
*.exe
*.out
*.app

# VI swap files
*.swp

# Don't follow the main executable, archives, and dynlibs
src/egel
src/libegel.a
*.ego

# Don't follow generated test cases
tests/large.eg

# Don't follow cmake build/debug
_build/*
build/*
_debug/*
debug/*
optional/*/build/*
optional/*/_build/*
optional/*/debug/*
optional/*/_debug/*

# ignore macos fs
.DS_Store

# ignore vscode
#.vscode/*
optional/*/.vscode/*

# ignore pycache
python/examples/__pycache__/*

# c++20 provisional stuff
src/gcm.cache/*

+*

*.o
*.lo
*.la

.libs/
.deps/
*/.libs/
*/.deps/

vendor/local/*

# GNU lightning stuff
vendor/lightning-2.2.2/build-aux
vendor/lightning-2.2.2/*/Makefile
vendor/lightning-2.2.2/*/*/Makefile
vendor/lightning-2.2.2/doc
vendor/lightning-2.2.2/autom4te.cache
vendor/lightning-2.2.2/aclocal.m4
vendor/lightning-2.2.2/depcomp
vendor/lightning-2.2.2/INSTALL
vendor/lightning-2.2.2/Makefile
vendor/lightning-2.2.2/Makefile.in
vendor/lightning-2.2.2/config.guess
vendor/lightning-2.2.2/config.h
vendor/lightning-2.2.2/config.h.in
vendor/lightning-2.2.2/config.log
vendor/lightning-2.2.2/config.status
vendor/lightning-2.2.2/config.sub
vendor/lightning-2.2.2/configure
vendor/lightning-2.2.2/install-sh
vendor/lightning-2.2.2/libtool
vendor/lightning-2.2.2/lightning-*.tar.*
vendor/lightning-2.2.2/ltmain.sh
vendor/lightning-2.2.2/missing
vendor/lightning-2.2.2/size
vendor/lightning-2.2.2/stamp-h1
vendor/lightning-2.2.2/test-driver

vendor/lightning-2.2.2/m4/libtool.m4
vendor/lightning-2.2.2/m4/lt~obsolete.m4
vendor/lightning-2.2.2/m4/ltoptions.m4
vendor/lightning-2.2.2/m4/ltsugar.m4
vendor/lightning-2.2.2/m4/ltversion.m4

vendor/lightning-2.2.2/lightning.pc
vendor/lightning-2.2.2/include/lightning.h

vendor/lightning-2.2.2/build-aux/

vendor/lightning-2.2.2/check
